

body {
    background-image: url(Imagenes/Imagen3.png);
    display: flex;
   flex-direction:column;
}

nav {
    display: flex;
    flex-direction: row-reverse;

}

h1{color: gold;
font-size: xx-large;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

@media (max-width:400px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}
